{% extends 'base.html.twig' %}

{% block title %}
	{{ program.title }}
	- Saison
	{{ season.number }}
	- Episode
	{{ episode.number }}
{% endblock %}

{% block body %}
	<div class="media">
		<img class="align-self-start mr-3" src="{{ program.poster }}" alt="{{ program.title }} poster">
		<div class="media-body">
			<h1 class="mt-0">{{ program.title }}
				- Saison
				{{ season.number }}
				- Episode
				{{ episode.number }}</h1>
			<p>{{ episode.title }}</p>
			<p>Synopsis :
				{{ episode.synopsis }}</p>
			<p>Durée:
				{{ programDuration }}
				minutes</p>
		</div>
	</div>

<div>
<h3>commentaire</h3>
{% for comment in episode.comments %}
<p>{{ comment.comment }}</p>
<p>Note : {{ comment.rate }}
<p>{{ comment.author.email }}</p>
	</a>
		{% if is_granted("ROLE_ADMIN") %}
		<a href="{{ path('comment_edit', { 'id': comment.id} ) }}">Éditer</a>
		        {{ include('comment/_delete_form.html.twig') }}
	{%endif%}
	{% if is_granted("{{ comment.author }}") %}
	<a href="{{ path('comment_edit', { 'id': comment.id} ) }}">Éditer</a>
	{%endif%}
{% endfor %}
</div>
	<div>
		{% if app.user %}
			<a href="{{ path('app_comment_new') }}">
				Ajouter un commentaire</a>
		{% else %}
			<a href="{{ path('app_login') }}">
				Se connecter</a>
		{% endif %}
	</div>

	<a href="{{ path('program_show', {slug: program.slug}) }}">
		Retour à la série
	</a>
{% endblock %}
